.forgot{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.forgotform {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    align-items: center;
}

.forgotbutton{
    width: 150px;
}