.note {
    width: 200px; 
    height: 200px;
    background-color :#FCF4A3;
    position: absolute; 
    border: 1px solid black; 
    display: flex;
    flex-direction: column; 
    align-items: baseline;
    margin: 0;
}
.noteheader {
    height:30px;
    width: 100%;
    background-color: #FEDC56;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drag {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.delete {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.editdiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
}

.textinput {
    background-color: #FCF4A3;
    border: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex: 1;
    resize: none;
}

.editbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.textfixed {
    text-align: left;
    white-space: pre-wrap;
}

