.note {
    min-width: 200px; 
    min-height: 200px;
    background-color :#FCF4A3;
    position: absolute; 
    border: 1px solid black; 
    display: flex;
    flex-direction: column; 
    align-items: baseline;
    margin: 0;
}
.noteheader {
    height:30px;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drag {
    width: 30px;
    height: 30px;
    background-color: blue;
    cursor: pointer;
}

.delete {
    width: 30px;
    height: 30px;
    background-color: black;
}