.signup{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.signupform {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    align-items: center;
}

.signupbutton{
    width: 100px;
}